'name': 'JCL'
'scopeName': 'source'
'fileTypes': [
  'JCL'
]
'patterns': [

  {
    'match': '(^//\\*.*)'
    'name': 'punctuation.definition.comment.JCL'
  }
  {
    'match': '(/\\*.+\\*/)'
    'name': 'punctuation.definition.comment.JCL'
  }
  #{
  #  'match': '(/\\*.+\\*/)'
    #'name': 'punctuation.definition.comment.JCL'
  #  'name': 'punctuation.comment.JCL'
  #}
  {
   'match': '(^ .*)'
   'name': 'constant.string.controlstatement.JCL'
  }

  {
    'match': '(//[^ ]*)'
    #'name': 'constant.numeric.integer.JCL'
    'name': 'constant.statement.name.JCL'
  }


  {
    'match': '(^/\\*\s*)'
    #'name': 'keyword.endofstep.JCL'
    'name': 'constant.string.controlstatement.JCL'
  }

  {
    'match': '(COMMAND | CNTL | DD | ENDCNTL | EXEC | IF | THEN | ELSE | ENDIF | INCLUDEDD | JOB | JCLLIB | OUTPUT | PEND | PROC | SET | XMIT)'
    'name': 'keyword.statement.type.JCL'
  }


]
